<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href=" {% url 'index' %} ">Home</a></li>
            <li><a href=" {% url 'contato' %} ">Contato</a></li>
        </ul>
    </nav>

    <h1>Meus contatos </h1>
    <h2>Listando meus Clientes</h2>
    {% for cliente in clientes %}
        <p>
            <a href="{% url 'cliente' cliente.id %}">{{cliente.nome}} {{cliente.sobrenome}} </a>
           : 
            <a href="mailto:{{cliente.email}}">{{cliente.email}}</a> 
        </p>
    {% endfor %}    
    
</body>
</html>