<!DOCTYPE html>

{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <ul>
            <li><a href=" {% url 'index' %} ">Home</a></li>
            <li><a href=" {% url 'contato' %} ">Contato</a></li>
        </ul>
    </nav>

    <h1>Index</h1>
    <img src="{% static 'images/estoque.png' %}" alt="">
    <h2>Listando meus produtos do estoque</h2>

   <table>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade em estoque</th>
            <th>Valor em Produto</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <th>{{produto.nome}}</th>
            <th id="preco">{{produto.preco}}</th>
            <th id="estoque">{{produto.estoque}}</th>
            <th id="valor"></th>
        </tr>
        {% endfor %}

   </table>
   
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>