<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href=" {% url 'index' %} ">Home</a></li>
            <li><a href=" {% url 'contato' %} ">Contato</a></li>
        </ul>
    </nav>

    <h1>Index</h1>
    <h2>Listando meus produtos do estoque</h2>

   <table>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade em estoque</th>
            <th>Valor em Produto</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <th>{{produto.nome}}</th>
            <th>{{produto.preco}}</th>
            <th>{{produto.estoque}}</th>
            <th>{{produto.calcular_valor_produtos}}</th>
        </tr>
        {% endfor %}

   </table>
   
    
    
</body>
</html>