{% load bootstrap5 %}
{% load static %}




<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'produto' %}">Produto</a></li>
            </ul>
        </nav>
    </header>

    {% block conteudo %}
    

    {% endblock conteudo %}

    <footer>
        <p>&copy; 2023 Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>