{% extends 'base.html' %}
{% load bootstrap5 %}

{% block titulo %}
    |HOME|
{% endblock titulo %}

{% block conteudo %}

    <div class="container"> 
        <h1>Produtos Cadastrados</h1>


        <table class="table table-dark">
            <tr>
                <td scope="row">#</td>
                <td scope="row">Produto</td>
                <td scope="row">Preço</td>
                <td scope="row">Estoque</td>
            </tr>
            
            {% for produto in produtos %}
                <tr>
                    <td scope="row">{{produto.id}}</td>
                    <td scope="row">{{produto.nome}}</td>
                    <td scope="row" id="preco">{{produto.preco}}</td>
                    <td scope="row" id="estoque">{{produto.estoque}}</td>
                    <td scope="row" id="valor_total"></td>
                </tr>

            {% endfor%}

        </table>


        

    </div>

      

{% endblock conteudo %}