{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscardo de Cupons</title>

    <link rel="shortcut icon" href="{% static 'images/favicon-32x32.png' %}" type="image/x-icon">

    <!--FONTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@300;400;900&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">


    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>
<body>

    <header class="cabecalho">

        <img src="{% static 'images/logo_campanha.png' %}" alt="">

    </header>

    <main class="conteudo_pricipal">

        <form action="">
            aqui vai vim as coisas
        </form>

    </main>
    <foote class="rodape">
        <p>&copy; Sicoob Credbrasília. Todos os direitos reservados.</p>
    </footer>


    
</body>
</html>