:root {
    --verde-escuro: #003641;
    --verde-claro: #C9D200;
    --branco: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

input{
    display: block;
    width: 120%;
    margin: 10px 0 10px 0;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

p{
    text-align: left;
}

table{
    margin: 0 auto;
}

.container-1 {
    flex: 2;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    flex: 1;
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    height: 100%; /* Faz o container-2 ocupar toda a altura */
}

.container-1__interno {
    text-align: center;
    padding: 20px;
    color: var(--verde-escuro);
}

.container-2__interno {
    text-align: center;
    padding: 20px;
    color: var(--branco);
}

#btn-buscar{
    background-color: #C9D200;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

/* Adicione regras de mídia para tornar o layout responsivo */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container-1, .container-2 {
        width: 100%;
    }
}
